<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Red Hat Display"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../styles/style.css" />
    <script defer src="../../scripts/main.js"></script>
    <title>Media Production</title>
  </head>
  <body>
    <!-- Main content -->
    <main class="main">
      <header id="header" class="header">
        <!-- Menu button -->
        <div class="menu-button flex-center" id="toggleNav">
          <span class="nav-button"></span>
        </div>
        <!-- Title / logo -->
        <a href="../../index.html" class="name-title">Denislav Dimitrov</a>
        <!-- <a href="#"
          ><img src="./images/logo.svg" alt="logo-header" class="logo"
        /></a> -->
      </header>

      <!-- Sections -->
      <section class="project-section">
        <div class="project-container fade-right-desktop animation">
          <h2>Brand guideline</h2>
          <p>
            This is our group's brand guideline which consists of clearly
            defined rules and standards that communicate how our brand should be
            represented to the world. It helps clients ensure consistency and
            demonstrate what the brand is, what it does, and what it stands for.
          </p>
          <p>
            The brand guideline includes two main sections - Brand vision,
            representing our goal, concept, target group and values, and Brand
            identity, which shows the colour palette, logo usage (appearance,
            visibility, patterns) and the logo concept itself.
          </p>
          <a
            href="https://www.figma.com/file/VhbTUZsBZpWP98Nq6NyNFM/Brand-Guideline---Branding-%26-Style-Guide-(Community)?node-id=0%3A1&t=zxIYbhpz7RJAt1Cb-1"
            ><p>Click me to see the whole figma workspace.</p></a
          >
          <p>Deeper explanation of the process below &darr;</p>
        </div>
        <div class="project-container fade-left-desktop animation">
          <img
            src="../../images/media-images/brand-guideline1.png"
            alt=""
            class="project-image"
          />
        </div>
      </section>
      <section class="project-section">
        <div class="project-container fade-up-desktop animation">
          <img
            src="../../images/media-images/brand-guideline2.png"
            alt=""
            class="project-image"
          />
        </div>
        <div class="project-container fade-up-desktop animation">
          <h2>Process of design</h2>
          <p>
            The process first begun by writing down the most important aspects
            which were needed in the brand guideline. Although the resources
            were limited to only the logo and colours on the brand identity
            side, since there is no real company and brand, there was a lot to
            note about the brand's recognition.
          </p>
          <p>
            By dividing everything into the two sections, mentioned in the
            beginning, we decided to go with a minimalistic approach for each
            slide in order to match the website's design. Every main point is
            described simply and easily-understandable. As you can see, we also
            made sure to make use of the brand's colour palette.
          </p>
          <p>More photos of the brand guideline below &darr;</p>
        </div>
      </section>
      <section class="project-section">
        <div class="project-container fade-right-desktop animation">
          <img
            src="../../images/media-images/brand-guideline3.png"
            alt=""
            class="project-image"
          />
        </div>
        <div class="project-container fade-left-desktop animation">
          <img
            src="../../images/media-images/brand-guideline4.png"
            alt=""
            class="project-image"
          />
        </div>
      </section>
    </main>
    <!-- Hidden navigation becoming visible when pressing the Menu button -->
    <nav id="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link about-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link projects-link" href="../project.html">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link modules-link" href="../../.#user-centered-design"
            >Modules</a
          >
        </li>
      </ul>
      <section class="contact-info flex-center">
        <div class="contact-column-1">
          <ul class="contact-list">
            <li>
              <a class="contact-item" href="mailto:denislav@gmail.com"
                >Send me an email</a
              >
            </li>
            <li>
              <a class="contact-item" href="tel:1234567890">+12 345 678 901</a>
            </li>
            <li>
              <a
                class="contact-item social-link"
                href="https://www.instagram.com/dennislav_d/"
                target="_blank"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
        <div class="contact-column-2">
          <ul class="contact-list">
            <li><a class="contact-item" href="#">A Media Design Student</a></li>
            <li>
              <a
                class="contact-item social-link"
                href="https://www.linkedin.com/in/denislavd"
                target="_blank"
                >LinkedIn Profile</a
              >
            </li>
            <li>
              <a
                class="contact-item social-link"
                href="https://github.com/denislav-d"
                target="_blank"
                >GitHub Profile</a
              >
            </li>
          </ul>
        </div>
      </section>
      <!-- Hidden images appearing on nav-link hover -->
      <div id="hidden-pics" class="hidden-images">
        <img
          src="../../images/image4.jpg"
          alt="hidden image"
          class="hidden-img-4 hidden-about-link"
        />
        <img
          src="../../images/image3.jpg"
          alt="hidden image"
          class="hidden-img-3 hidden-about-link"
        />
        <img
          src="../../images/image1.jpg"
          alt="hidden image"
          class="hidden-img-1 hidden-about-link"
        />
        <img
          src="../../images/image2.jpg"
          alt="hidden image"
          class="hidden-img-2 hidden-about-link"
        />
        <img
          src="../../images/image5.jpg"
          alt="hidden image"
          class="hidden-img-5 hidden-projects-link"
        />
        <img
          src="../../images/image6.jpg"
          alt="hidden image"
          class="hidden-img-6 hidden-projects-link"
        />
        <img
          src="../../images/image7.jpg"
          alt="hidden image"
          class="hidden-img-7 hidden-projects-link"
        />
        <img
          src="../../images/image8.jpg"
          alt="hidden image"
          class="hidden-img-8 hidden-projects-link"
        />
        <img
          src="../../images/image9.jpg"
          alt="hidden image"
          class="hidden-img-9 hidden-modules-link"
        />
        <img
          src="../../images/image10.jpg"
          alt="hidden image"
          class="hidden-img-10 hidden-modules-link"
        />
        <img
          src="../../images/image11.jpg"
          alt="hidden image"
          class="hidden-img-11 hidden-modules-link"
        />
        <img
          src="../../images/image12.jpg"
          alt="hidden image"
          class="hidden-img-12 hidden-modules-link"
        />
      </div>
    </nav>
  </body>
</html>
