<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Red Hat Display"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../styles/style.css" />
    <script defer src="../../scripts/main.js"></script>
    <title>Media Production</title>
  </head>
  <body>
    <!-- Main content -->
    <main class="main">
      <header id="header" class="header">
        <!-- Menu button -->
        <div class="menu-button flex-center" id="toggleNav">
          <span class="nav-button"></span>
        </div>
        <!-- Title / logo -->
        <a href="../../index.html" class="name-title">Denislav Dimitrov</a>
        <!-- <a href="#"
          ><img src="./images/logo.svg" alt="logo-header" class="logo"
        /></a> -->
      </header>

      <!-- Sections -->
      <section class="project-section">
        <div class="project-container fade-right-desktop animation">
          <h2>Recording the movie</h2>

          <p>
            Once storyboarding was completed, we proceeded to the filming stage.
            I assembled the actors while others gathered the necessary equipment
            and devices. Together, we headed to a specific location in the R10
            building that was suitable for our initial scenes. At first, we
            encountered several audio issues, experimenting with a
            camera-attached microphone. However, we eventually switched to a
            lavalier microphone that could be attached to the performers. It
            took some time to understand the connections and operations, but we
            successfully managed to figure it out and resumed shooting the
            scenes.
          </p>
          <p>
            In conclusion, we remained at the university until its closing time,
            which proved to be worthwhile as we managed to capture every scene
            we required, except for one. My primary responsibility revolved
            around the actual filming, as I had only one minor background role.
            One particular challenge I encountered was maintaining a steady
            camera and executing smooth movements, particularly during following
            shots.
          </p>
          <p>More about editing below &darr;</p>
        </div>
        <div class="project-container fade-left-desktop animation">
          <img
            src="../../images/media-images/filming-process.png"
            alt=""
            class="project-image-large margin-top"
          />
        </div>
      </section>
      <section class="project-section">
        <div class="project-container fade-up-desktop animation">
          <img
            src="../../images/media-images/editing.png"
            alt=""
            class="project-image-large margin-top"
          />
          <img
            src="../../images/media-images/typewriter.gif"
            alt=""
            class="rotated-gif"
          />
        </div>
        <div class="project-container fade-up-desktop animation">
          <h2>Editing the content</h2>
          <p>
            Additionally, I took charge of the editing process, starting with
            importing the raw footage from the memory card and arranging each
            scene in chronological order on Premiere Pro, following our story
            timeline. I proceeded by trimming all the clips, eliminating the
            initial sounds that served as signal for the actors at the beginning
            of recording. Furthermore, I incorporated transitions between
            scenes, along with other effects, including a split-screen scene.
          </p>
          <p>
            Subsequently, I undertook the task of creating the credits and the
            final part of the movie, which proved to be more challenging than
            anticipated. Specifically, we needed to incorporate a typewriter
            effect, which unfortunately was not available in this software. To
            overcome this limitation, I searched for alternative methods and
            discovered that viable options were scarce and not very practical.
            As a workaround, I resorted to screen recording Instagram effect
            with a green screen for each clip, which were then edited, rotated,
            trimmed, and scaled accordingly. All in all, this movie project
            presented a completely new experience for me, enhancing my skills in
            both filming and editing, while also providing valuable insight into
            the producer's mindset.
          </p>
          <p>More photos showing the filming process below &darr;</p>
        </div>
      </section>
      <section class="project-section">
        <div class="project-container fade-right-desktop animation">
          <img
            src="../../images/media-images/microphone.png"
            alt=""
            class="project-image-large"
          />
        </div>
        <div class="project-container fade-left-desktop animation">
          <img
            src="../../images/media-images/tripod.png"
            alt=""
            class="project-image-large"
          />
        </div>
      </section>
    </main>
    <!-- Hidden navigation becoming visible when pressing the Menu button -->
    <nav id="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link about-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link projects-link" href="../project.html">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link modules-link" href="../../.#user-centered-design"
            >Modules</a
          >
        </li>
      </ul>
      <section class="contact-info flex-center">
        <div class="contact-column-1">
          <ul class="contact-list">
            <li>
              <a class="contact-item" href="mailto:denislav@gmail.com"
                >Send me an email</a
              >
            </li>
            <li>
              <a class="contact-item" href="tel:1234567890">+12 345 678 901</a>
            </li>
            <li>
              <a
                class="contact-item social-link"
                href="https://www.instagram.com/dennislav_d/"
                target="_blank"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
        <div class="contact-column-2">
          <ul class="contact-list">
            <li><a class="contact-item" href="#">A Media Design Student</a></li>
            <li>
              <a
                class="contact-item social-link"
                href="https://www.linkedin.com/in/denislavd"
                target="_blank"
                >LinkedIn Profile</a
              >
            </li>
            <li>
              <a
                class="contact-item social-link"
                href="https://github.com/denislav-d"
                target="_blank"
                >GitHub Profile</a
              >
            </li>
          </ul>
        </div>
      </section>
      <!-- Hidden images appearing on nav-link hover -->
      <div id="hidden-pics" class="hidden-images">
        <img
          src="../../images/image4.jpg"
          alt="hidden image"
          class="hidden-img-4 hidden-about-link"
        />
        <img
          src="../../images/image3.jpg"
          alt="hidden image"
          class="hidden-img-3 hidden-about-link"
        />
        <img
          src="../../images/image1.jpg"
          alt="hidden image"
          class="hidden-img-1 hidden-about-link"
        />
        <img
          src="../../images/image2.jpg"
          alt="hidden image"
          class="hidden-img-2 hidden-about-link"
        />
        <img
          src="../../images/image5.jpg"
          alt="hidden image"
          class="hidden-img-5 hidden-projects-link"
        />
        <img
          src="../../images/image6.jpg"
          alt="hidden image"
          class="hidden-img-6 hidden-projects-link"
        />
        <img
          src="../../images/image7.jpg"
          alt="hidden image"
          class="hidden-img-7 hidden-projects-link"
        />
        <img
          src="../../images/image8.jpg"
          alt="hidden image"
          class="hidden-img-8 hidden-projects-link"
        />
        <img
          src="../../images/image9.jpg"
          alt="hidden image"
          class="hidden-img-9 hidden-modules-link"
        />
        <img
          src="../../images/image10.jpg"
          alt="hidden image"
          class="hidden-img-10 hidden-modules-link"
        />
        <img
          src="../../images/image11.jpg"
          alt="hidden image"
          class="hidden-img-11 hidden-modules-link"
        />
        <img
          src="../../images/image12.jpg"
          alt="hidden image"
          class="hidden-img-12 hidden-modules-link"
        />
      </div>
    </nav>
  </body>
</html>
