<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Red Hat Display"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../styles/style.css" />
    <script defer src="../../scripts/main.js"></script>
    <title>Media Production</title>
  </head>
  <body>
    <!-- Main content -->
    <main class="main">
      <header id="header" class="header">
        <!-- Menu button -->
        <div class="menu-button flex-center" id="toggleNav">
          <span></span>
        </div>
        <!-- Title / logo -->
        <a href="../../index.html" class="name-title">Denislav Dimitrov</a>
        <!-- <a href="#"
          ><img src="./images/logo.svg" alt="logo-header" class="logo"
        /></a> -->
      </header>

      <!-- Sections -->
      <section class="project-section">
        <div class="project-container fade-right-desktop animation">
          <h2>Fashion week poster</h2>
          <p>
            As strange as it may sound, this modern fashion week invitation
            poster was made from a random photo of the Fontys R10 building which
            I took while we were outdoors, having the assignment to go around
            and take photos in order to explore and experiment with different
            color palettes.
          </p>
          <p>
            The initial inspiration was from this type of liquified background
            which I have seen in many places before and wondered how it is made.
            After doing a quick research, I found that the ability to create the
            pattern is only a couple clicks away. I really enjoyed the process
            of making the background since it gave me the option to input my own
            creativity and not just simply copy it.
          </p>
          <p>Deeper explanation of the process below &darr;</p>
        </div>
        <div class="project-container fade-left-desktop animation">
          <img
            src="../../images/media-images/fashion-poster.png"
            alt=""
            class="project-image"
          />
        </div>
      </section>
      <section class="project-section">
        <div class="project-container fade-up-desktop animation">
          <img
            src="../../images/media-images/r10.png"
            alt=""
            class="project-image-smaller"
          />
        </div>
        <div class="project-container fade-up-desktop animation">
          <h2>Process of design</h2>
          <p>
            I first started by creating a Gradient Map which allowed me to pick
            different colors for the start, flowing and end of the gradient.
            Then by using the Wind filter, I created the distorted effect. Next,
            I played around for a while with the Liquify filter to achieve this
            twisted look.
          </p>
          <p>
            Of course, at the end I placed the different sized and rotated text
            using my favourite font - Helvetica Neue, setting the theme of the
            poster to be fashion.
          </p>
          <p>More photos showing the techniques used below &darr;</p>
        </div>
      </section>
      <section class="project-section">
        <div class="project-container fade-right-desktop animation">
          <img
            src="../../images/media-images/gradient-map.png"
            alt=""
            class="project-image-large"
          />
        </div>
        <div class="project-container fade-left-desktop animation">
          <img
            src="../../images/media-images/liquify.png"
            alt=""
            class="project-image-large"
          />
        </div>
      </section>
    </main>
    <!-- Hidden navigation becoming visible when pressing the Menu button -->
    <nav id="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link about-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link projects-link" href="../project.html">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link modules-link" href="../../.#user-centered-design"
            >Modules</a
          >
        </li>
      </ul>
      <section class="contact-info flex-center">
        <div class="contact-column-1">
          <ul class="contact-list">
            <li>
              <a class="contact-item" href="mailto:denislav@gmail.com"
                >Send me an email</a
              >
            </li>
            <li>
              <a class="contact-item" href="tel:1234567890">+12 345 678 901</a>
            </li>
            <li>
              <a
                class="contact-item social-link"
                href="https://www.instagram.com/dennislav_d/"
                target="_blank"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
        <div class="contact-column-2">
          <ul class="contact-list">
            <li><a class="contact-item" href="#">A Media Design Student</a></li>
            <li>
              <a
                class="contact-item social-link"
                href="https://www.linkedin.com/in/denislavd"
                target="_blank"
                >LinkedIn Profile</a
              >
            </li>
            <li>
              <a
                class="contact-item social-link"
                href="https://github.com/denislav-d"
                target="_blank"
                >GitHub Profile</a
              >
            </li>
          </ul>
        </div>
      </section>
      <!-- Hidden images appearing on nav-link hover -->
      <div id="hidden-pics" class="hidden-images">
        <img
          src="../../images/image4.jpg"
          alt="hidden image"
          class="hidden-img-4 hidden-about-link"
        />
        <img
          src="../../images/image3.jpg"
          alt="hidden image"
          class="hidden-img-3 hidden-about-link"
        />
        <img
          src="../../images/image1.jpg"
          alt="hidden image"
          class="hidden-img-1 hidden-about-link"
        />
        <img
          src="../../images/image2.jpg"
          alt="hidden image"
          class="hidden-img-2 hidden-about-link"
        />
        <img
          src="../../images/image5.jpg"
          alt="hidden image"
          class="hidden-img-5 hidden-projects-link"
        />
        <img
          src="../../images/image6.jpg"
          alt="hidden image"
          class="hidden-img-6 hidden-projects-link"
        />
        <img
          src="../../images/image7.jpg"
          alt="hidden image"
          class="hidden-img-7 hidden-projects-link"
        />
        <img
          src="../../images/image8.jpg"
          alt="hidden image"
          class="hidden-img-8 hidden-projects-link"
        />
        <img
          src="../../images/image9.jpg"
          alt="hidden image"
          class="hidden-img-9 hidden-modules-link"
        />
        <img
          src="../../images/image10.jpg"
          alt="hidden image"
          class="hidden-img-10 hidden-modules-link"
        />
        <img
          src="../../images/image11.jpg"
          alt="hidden image"
          class="hidden-img-11 hidden-modules-link"
        />
        <img
          src="../../images/image12.jpg"
          alt="hidden image"
          class="hidden-img-12 hidden-modules-link"
        />
      </div>
    </nav>
  </body>
</html>
