<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Red Hat Display"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../styles/style.css" />
    <script defer src="../../scripts/main.js"></script>
    <title>Media Production</title>
  </head>
  <body>
    <!-- Main content -->
    <main class="main">
      <header id="header" class="header">
        <!-- Menu button -->
        <div class="menu-button flex-center" id="toggleNav">
          <span class="nav-button"></span>
        </div>
        <!-- Title / logo -->
        <!-- <a href="../../index.html" class="name-title">Denislav Dimitrov</a> -->
        <a href="../../index.html"
          ><img
            src="../../images/logo.svg"
            alt="logo-header"
            class="logo name-title"
        /></a>
      </header>

      <!-- Sections -->
      <section class="project-section">
        <div class="project-container fade-right-desktop animation">
          <h2>Personal logo</h2>
          <p>
            This is my personal logo, designed in Adobe Illustrator. Therefore,
            it is exported in a vector format. I included it on my website as a
            .svg, which gives the following benefits: high resolution, small
            file size, infinite scalability and transparent background support.
          </p>
          <p>
            The logo mockup is on this current page itself, showing how the logo
            is supposed to be used in the center of the header.
          </p>
          <p>
            I wanted to make a simple and luxurious logo, which immediately led
            me into researching some high fashion brands and their logos, since
            I have a big passion and interest in the fashion industry.
          </p>
          <p>Deeper explanation of the process below &darr;</p>
        </div>
        <div class="project-container fade-left-desktop animation">
          <img
            src="../../images/logo.svg"
            alt=""
            class="project-image-smaller"
          />
        </div>
      </section>
      <section class="project-section">
        <div class="project-container fade-up-desktop animation">
          <img
            src="../../images/media-images/anagram-logo.png"
            alt=""
            class="project-image-smaller"
          />
          <img
            src="../../images/media-images/iteration1.svg"
            alt=""
            class="project-image-smaller"
          />
          <img
            src="../../images/media-images/iteration2.svg"
            alt=""
            class="project-image-smaller"
          />
        </div>
        <div class="project-container fade-up-desktop animation">
          <h2>Process of design</h2>
          <p>
            Firstly, I took into account that both of my names start with the
            same letter. My initial idea was something similar to the brand
            “Dsquared2” – the name speaks for itself, but their case is a little
            bit different - the names of the brothers which are the brand's
            founders both start with “D”.
          </p>
          <p>
            Of course, I wanted something more original and I didn’t really like
            how the letter “D” looked while standing alone in a sans-serif font.
            Therefore, I started thinking about using a serif or cursive font
            and my first thought was a brand which I really like – “Loewe”. I
            did a deeper research and their logo really has a great history (too
            long to explain here). Taking a quick glance at the logo, it is an
            anagram with a beautiful letter “L”, repeating in different ways –
            mirrored and flipped.
          </p>
          <p>
            This was my main inspiration and I started experimenting. One of the
            first attempts was also an anagram, but I didn’t really adore it and
            wanted something more original. My next idea was to figure out a
            good connection between two of the letters, which turned out great,
            as you can see from the iterations below. I also tried rotating the
            logo in different ways to see if it looked better, but decided to
            stick with the one without rotation.
          </p>
          <p></p>
        </div>
      </section>
    </main>
    <!-- Hidden navigation becoming visible when pressing the Menu button -->
    <nav id="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link about-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link projects-link" href="../project.html">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link modules-link" href="../../.#user-centered-design"
            >Modules</a
          >
        </li>
      </ul>
      <section class="contact-info flex-center">
        <div class="contact-column-1">
          <ul class="contact-list">
            <li>
              <a class="contact-item" href="mailto:denislav@gmail.com"
                >Send me an email</a
              >
            </li>
            <li>
              <a class="contact-item" href="tel:1234567890">+12 345 678 901</a>
            </li>
            <li>
              <a
                class="contact-item social-link"
                href="https://www.instagram.com/dennislav_d/"
                target="_blank"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
        <div class="contact-column-2">
          <ul class="contact-list">
            <li><a class="contact-item" href="#">A Media Design Student</a></li>
            <li>
              <a
                class="contact-item social-link"
                href="https://www.linkedin.com/in/denislavd"
                target="_blank"
                >LinkedIn Profile</a
              >
            </li>
            <li>
              <a
                class="contact-item social-link"
                href="https://github.com/denislav-d"
                target="_blank"
                >GitHub Profile</a
              >
            </li>
          </ul>
        </div>
      </section>
      <!-- Hidden images appearing on nav-link hover -->
      <div id="hidden-pics" class="hidden-images">
        <img
          src="../../images/image4.jpg"
          alt="hidden image"
          class="hidden-img-4 hidden-about-link"
        />
        <img
          src="../../images/image3.jpg"
          alt="hidden image"
          class="hidden-img-3 hidden-about-link"
        />
        <img
          src="../../images/image1.jpg"
          alt="hidden image"
          class="hidden-img-1 hidden-about-link"
        />
        <img
          src="../../images/image2.jpg"
          alt="hidden image"
          class="hidden-img-2 hidden-about-link"
        />
        <img
          src="../../images/image5.jpg"
          alt="hidden image"
          class="hidden-img-5 hidden-projects-link"
        />
        <img
          src="../../images/image6.jpg"
          alt="hidden image"
          class="hidden-img-6 hidden-projects-link"
        />
        <img
          src="../../images/image7.jpg"
          alt="hidden image"
          class="hidden-img-7 hidden-projects-link"
        />
        <img
          src="../../images/image8.jpg"
          alt="hidden image"
          class="hidden-img-8 hidden-projects-link"
        />
        <img
          src="../../images/image9.jpg"
          alt="hidden image"
          class="hidden-img-9 hidden-modules-link"
        />
        <img
          src="../../images/image10.jpg"
          alt="hidden image"
          class="hidden-img-10 hidden-modules-link"
        />
        <img
          src="../../images/image11.jpg"
          alt="hidden image"
          class="hidden-img-11 hidden-modules-link"
        />
        <img
          src="../../images/image12.jpg"
          alt="hidden image"
          class="hidden-img-12 hidden-modules-link"
        />
      </div>
    </nav>
  </body>
</html>
