<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Red Hat Display"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../styles/style.css" />
    <script defer src="../../scripts/main.js"></script>
    <title>User Centered Design</title>
  </head>
  <body>
    <!-- Main content -->
    <main class="main">
      <header id="header" class="header">
        <!-- Menu button -->
        <div class="menu-button flex-center" id="toggleNav">
          <span class="nav-button"></span>
        </div>
        <!-- Title / logo -->
        <a href="../../index.html" class="name-title">Denislav Dimitrov</a>
        <!-- <a href="#"
          ><img src="./images/logo.svg" alt="logo-header" class="logo"
        /></a> -->
      </header>

      <!-- Sections -->
      <section class="project-section">
        <div class="project-container fade-right-desktop animation">
          <h2>Usability testing</h2>
          <p>
            This week our group made the usability test plan, after which, each
            one of us conducted a usability test. The primary objective of the
            study was to enhance and identify any shortcomings in our project
            website prior to submitting its final version. This way, I was able
            to gain many valuable insights, without taking too much time, which
            is important to the user, as they can stay focused.
          </p>
          <p>
            The plan contains information about the whole procedure - business
            case, product under test, objectives, responsibilities, participants
            and their tasks. Despite the short length of this type of prototype
            testing, it rewarded us with a lot of useful feedback.
          </p>
          <p>
            The session took place in a room where the I posed questions to the
            interviewee, centered around exploring the website, performing
            specific tasks, and providing an overall opinion of the website. I
            also documented the proceedings and posed additional questions to
            gather additional information. Ultimately, the testing process was
            successful, as the interviewee completed all the navigation tasks
            and offered feedback on areas that could be enhanced or made more
            user-friendly.
          </p>
          <p>You can see the video of the interview to the right &#8594;</p>
        </div>
        <div class="project-container fade-left-desktop animation">
          <img
            src="../../images/ucd-images/usability-test-card.png"
            alt=""
            class="project-image-largest interview-video"
          />
          <div class="interview-video">
            <video width="650" height="400" controls>
              <source
                src="../../images/ucd-images/interview.mp4"
                type="video/mp4"
              />
            </video>
          </div>
          <p></p>
        </div>
      </section>
    </main>
    <!-- Hidden navigation becoming visible when pressing the Menu button -->
    <nav id="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link about-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link projects-link" href="../project.html">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link modules-link" href="../../.#user-centered-design"
            >Modules</a
          >
        </li>
      </ul>
      <section class="contact-info flex-center">
        <div class="contact-column-1">
          <ul class="contact-list">
            <li>
              <a class="contact-item" href="mailto:denislav@gmail.com"
                >Send me an email</a
              >
            </li>
            <li>
              <a class="contact-item" href="tel:1234567890">+12 345 678 901</a>
            </li>
            <li>
              <a
                class="contact-item social-link"
                href="https://www.instagram.com/dennislav_d/"
                target="_blank"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
        <div class="contact-column-2">
          <ul class="contact-list">
            <li><a class="contact-item" href="#">A Media Design Student</a></li>
            <li>
              <a
                class="contact-item social-link"
                href="https://www.linkedin.com/in/denislavd"
                target="_blank"
                >LinkedIn Profile</a
              >
            </li>
            <li>
              <a
                class="contact-item social-link"
                href="https://github.com/denislav-d"
                target="_blank"
                >GitHub Profile</a
              >
            </li>
          </ul>
        </div>
      </section>
      <!-- Hidden images appearing on nav-link hover -->
      <div id="hidden-pics" class="hidden-images">
        <img
          src="../../images/image4.jpg"
          alt="hidden image"
          class="hidden-img-4 hidden-about-link"
        />
        <img
          src="../../images/image3.jpg"
          alt="hidden image"
          class="hidden-img-3 hidden-about-link"
        />
        <img
          src="../../images/image1.jpg"
          alt="hidden image"
          class="hidden-img-1 hidden-about-link"
        />
        <img
          src="../../images/image2.jpg"
          alt="hidden image"
          class="hidden-img-2 hidden-about-link"
        />
        <img
          src="../../images/image5.jpg"
          alt="hidden image"
          class="hidden-img-5 hidden-projects-link"
        />
        <img
          src="../../images/image6.jpg"
          alt="hidden image"
          class="hidden-img-6 hidden-projects-link"
        />
        <img
          src="../../images/image7.jpg"
          alt="hidden image"
          class="hidden-img-7 hidden-projects-link"
        />
        <img
          src="../../images/image8.jpg"
          alt="hidden image"
          class="hidden-img-8 hidden-projects-link"
        />
        <img
          src="../../images/image9.jpg"
          alt="hidden image"
          class="hidden-img-9 hidden-modules-link"
        />
        <img
          src="../../images/image10.jpg"
          alt="hidden image"
          class="hidden-img-10 hidden-modules-link"
        />
        <img
          src="../../images/image11.jpg"
          alt="hidden image"
          class="hidden-img-11 hidden-modules-link"
        />
        <img
          src="../../images/image12.jpg"
          alt="hidden image"
          class="hidden-img-12 hidden-modules-link"
        />
      </div>
    </nav>
  </body>
</html>
