<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Red Hat Display"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/style.css" />
    <script defer src="../scripts/main.js"></script>
    <title>Media Production</title>
  </head>
  <body>
    <!-- Main content -->
    <main class="main">
      <header id="header" class="header">
        <!-- Menu button -->
        <div class="menu-button flex-center" id="toggleNav">
          <span class="nav-button"></span>
        </div>
        <!-- Title / logo -->
        <a href="../index.html" class="name-title">Denislav Dimitrov</a>
        <!-- <a href="#"
          ><img src="./images/logo.svg" alt="logo-header" class="logo"
        /></a> -->
      </header>

      <!-- Sections -->
      <section class="title-section">
        <div class="container-subject">
          <h1 class="title-subject">Media Production</h1>
          <p>Crafting quality visual designs with a professional toolset.</p>
        </div>
      </section>
      <section class="grid-projects">
        <div class="grid-card fade-up-desktop animation">
          <a href="media/fashion-poster.html">
            <div class="card-image">
              <img
                src="../images/media-images/poster-mockup.png"
                alt="Fashion posters"
                loading="lazy"
              />
            </div>
            <h4>Fashion week poster</h4>
            <p>A fashion-inspired poster created from a taken photo.</p>
          </a>
        </div>
        <div class="grid-card fade-up-desktop animation">
          <a href="media/design-poster.html">
            <div class="card-image">
              <img
                src="../images/media-images/design-week-mockup.png"
                alt="Design poster"
                loading="lazy"
              />
            </div>
            <h4>Design week poster</h4>
            <p>
              A poster inspired by design agencies and created from a taken
              photo.
            </p>
          </a>
        </div>
        <div class="grid-card fade-up-desktop animation">
          <a href="media/logo.html">
            <div class="card-image">
              <img
                src="../images/media-images/logo-mockup.png"
                alt="Logo"
                loading="lazy"
              />
            </div>
            <h4>Personal logo</h4>
            <p>The assignment to design and create our own logo.</p>
          </a>
        </div>
        <div class="grid-card fade-up-desktop animation">
          <a href="media/magazine-layout.html">
            <div class="card-image">
              <img src="../images/media-images/magazine-mockup.png" alt="" />
            </div>
            <h4>Magazine layout</h4>
            <p>
              The assignment to design a low-fidelity layout for two magazine
              pages.
            </p>
          </a>
        </div>
        <div class="grid-card fade-up-desktop animation">
          <a href="media/brand-guideline.html">
            <div class="card-image">
              <img
                src="../images/media-images/brand-guideline-main.png"
                alt=""
              />
            </div>
            <h4>Brand guideline</h4>
            <p>The assignment to create a brand guideline for our project.</p>
          </a>
        </div>
        <div class="grid-card fade-up-desktop animation">
          <a href="media/photo-book.html">
            <div class="card-image">
              <img src="../images/media-images/photobook.png" alt="" />
            </div>
            <h4>Photo book</h4>
            <p>
              The assignment to create a photo book by using InDesign and our
              own photos.
            </p>
          </a>
        </div>
        <div class="grid-card fade-up-desktop animation">
          <a href="media/photography-portfolio.html">
            <div class="card-image">
              <img src="../images/media-images/photography-book.png" alt="" />
            </div>
            <h4>Photography portfolio</h4>
            <p>
              The assignment to take pictures with a camera and create a
              photography portfolio using them.
            </p>
          </a>
        </div>
        <div class="grid-card fade-up-desktop animation">
          <a href="">
            <div class="card-image">
              <img src="../images/coming-soon.jpg" alt="" />
            </div>
            <h4>Mini documentary project</h4>
            <p>This is a placeholder waiting for a new assignment.</p>
          </a>
        </div>
        <div class="grid-card fade-up-desktop animation">
          <a href="">
            <div class="card-image">
              <img src="../images/coming-soon.jpg" alt="" />
            </div>
            <h4>Upcoming project</h4>
            <p>This is a placeholder waiting for a new assignment.</p>
          </a>
        </div>
        <div class="grid-card fade-up-desktop animation">
          <a href="">
            <div class="card-image">
              <img src="../images/coming-soon.jpg" alt="" />
            </div>
            <h4>Upcoming project</h4>
            <p>This is a placeholder waiting for a new assignment.</p>
          </a>
        </div>
        <div class="grid-card fade-up-desktop animation">
          <a href="">
            <div class="card-image">
              <img src="../images/coming-soon.jpg" alt="" />
            </div>
            <h4>Upcoming project</h4>
            <p>This is a placeholder waiting for a new assignment.</p>
          </a>
        </div>
      </section>
    </main>
    <!-- Hidden navigation becoming visible when pressing the Menu button -->
    <nav id="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link about-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link projects-link" href="./project.html">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link modules-link" href="../.#user-centered-design"
            >Modules</a
          >
        </li>
      </ul>
      <section class="contact-info flex-center">
        <div class="contact-column-1">
          <ul class="contact-list">
            <li>
              <a class="contact-item" href="mailto:denislav@gmail.com"
                >Send me an email</a
              >
            </li>
            <li>
              <a class="contact-item" href="tel:1234567890">+12 345 678 901</a>
            </li>
            <li>
              <a
                class="contact-item social-link"
                href="https://www.instagram.com/dennislav_d/"
                target="_blank"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
        <div class="contact-column-2">
          <ul class="contact-list">
            <li><a class="contact-item" href="#">A Media Design Student</a></li>
            <li>
              <a
                class="contact-item social-link"
                href="https://www.linkedin.com/in/denislavd"
                target="_blank"
                >LinkedIn Profile</a
              >
            </li>
            <li>
              <a
                class="contact-item social-link"
                href="https://github.com/denislav-d"
                target="_blank"
                >GitHub Profile</a
              >
            </li>
          </ul>
        </div>
      </section>
      <!-- Hidden images appearing on nav-link hover -->
      <div id="hidden-pics" class="hidden-images">
        <img
          src="../images/image4.jpg"
          alt="hidden image"
          class="hidden-img-4 hidden-about-link"
        />
        <img
          src="../images/image3.jpg"
          alt="hidden image"
          class="hidden-img-3 hidden-about-link"
        />
        <img
          src="../images/image1.jpg"
          alt="hidden image"
          class="hidden-img-1 hidden-about-link"
        />
        <img
          src="../images/image2.jpg"
          alt="hidden image"
          class="hidden-img-2 hidden-about-link"
        />
        <img
          src="../images/image5.jpg"
          alt="hidden image"
          class="hidden-img-5 hidden-projects-link"
        />
        <img
          src="../images/image6.jpg"
          alt="hidden image"
          class="hidden-img-6 hidden-projects-link"
        />
        <img
          src="../images/image7.jpg"
          alt="hidden image"
          class="hidden-img-7 hidden-projects-link"
        />
        <img
          src="../images/image8.jpg"
          alt="hidden image"
          class="hidden-img-8 hidden-projects-link"
        />
        <img
          src="../images/image9.jpg"
          alt="hidden image"
          class="hidden-img-9 hidden-modules-link"
        />
        <img
          src="../images/image10.jpg"
          alt="hidden image"
          class="hidden-img-10 hidden-modules-link"
        />
        <img
          src="../images/image11.jpg"
          alt="hidden image"
          class="hidden-img-11 hidden-modules-link"
        />
        <img
          src="../images/image12.jpg"
          alt="hidden image"
          class="hidden-img-12 hidden-modules-link"
        />
      </div>
    </nav>
  </body>
</html>
