<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Red Hat Display"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/style.css" />
    <script defer src="../scripts/main.js"></script>
    <title>Web Development</title>
  </head>
  <body>
    <!-- Main content -->
    <main class="main">
      <header id="header" class="header">
        <!-- Menu button -->
        <div class="menu-button flex-center" id="toggleNav">
          <span class="nav-button"></span>
        </div>
        <!-- Title / logo -->
        <a href="../index.html" class="name-title">Denislav Dimitrov</a>
        <!-- <a href="#"
          ><img src="./images/logo.svg" alt="logo-header" class="logo"
        /></a> -->
      </header>

      <!-- Sections -->
      <section class="title-section">
        <div class="container-subject">
          <h1 class="title-subject">Web Development</h1>
          <p>
            Programming and integrating proofs of concepts based on validated
            requirements and documented with version control tools. For all of
            these websites, I have used mainly my knowledge from experience and
            researching online. You can track my portfolio website progress in
            my GitHub repository where I regularly commit.
            <a
              class="underline"
              href="https://github.com/denislav-d/Portfolio-project-semester-2"
              >Click me to go to the GitHub repository.</a
            >
          </p>
        </div>
      </section>
      <section class="grid-projects">
        <div class="grid-card fade-up-desktop animation">
          <a href="https://i512560.hera.fhict.nl/hermes-website">
            <div class="card-image">
              <img src="../images/webdev-images/Hermes.png" alt="" />
            </div>
            <h4>Hermes website</h4>
            <p>The assignment to copy the Hermes website.</p>
          </a>
        </div>
        <div class="grid-card fade-up-desktop animation">
          <a href="https://i512560.hera.fhict.nl/awwwards-website">
            <div class="card-image">
              <img src="../images/webdev-images/awwwards.jpg" alt="" />
            </div>
            <h4>Awwwards website</h4>
            <p>The assignment to copy an Awwwrds website of our choice.</p>
          </a>
        </div>
        <div class="grid-card fade-up-desktop animation">
          <a href="https://i512560.hera.fhict.nl/layout-website">
            <div class="card-image">
              <img src="../images/webdev-images/Layout.png" alt="" />
            </div>
            <h4>Layout website</h4>
            <p>The assignment to replicate a website layout.</p>
          </a>
        </div>
        <div class="grid-card fade-up-desktop animation">
          <a href="https://i512560.hera.fhict.nl/countdown-website">
            <div class="card-image">
              <img src="../images/webdev-images/countdown-website.png" alt="" />
            </div>
            <h4>Countdown clock</h4>
            <p>A countdown clock indicating the portfolio deadline.</p>
          </a>
        </div>
        <div class="grid-card fade-up-desktop animation">
          <a href="https://i512560.hera.fhict.nl/parallax-website">
            <div class="card-image">
              <img src="../images/webdev-images/parallax-website.png" alt="" />
            </div>
            <h4>Parallax effect</h4>
            <p>A simple page exploring the parallax effect.</p>
          </a>
        </div>
        <div class="grid-card fade-up-desktop animation">
          <a href="https://i512560.hera.fhict.nl/analog-clock">
            <div class="card-image">
              <img src="../images/webdev-images/analog-clock.png" alt="" />
            </div>
            <h4>Analog clock</h4>
            <p>A JavaScript analog clock.</p>
          </a>
        </div>
        <div class="grid-card fade-up-desktop animation">
          <a href="">
            <div class="card-image">
              <img src="../images/coming-soon.jpg" alt="" />
            </div>
            <h4>Guess the number game</h4>
            <p>
              The assignment to create a game where two players guess a number.
            </p>
          </a>
        </div>
        <div class="grid-card fade-up-desktop animation">
          <a href="">
            <div class="card-image">
              <img src="../images/webdev-images/memory-game.png" alt="" />
            </div>
            <h4>Flip card memory game</h4>
            <p>A memory game where you have to match two of the same cards.</p>
          </a>
        </div>
        <div class="grid-card fade-up-desktop animation">
          <a href="">
            <div class="card-image">
              <img src="../images/coming-soon.jpg" alt="" />
            </div>
            <h4>Weather API</h4>
            <p>
              Using an API to find the current weather in a place designated by
              the user.
            </p>
          </a>
        </div>
        <div class="grid-card fade-up-desktop animation">
          <a href="">
            <div class="card-image">
              <img src="../images/coming-soon.jpg" alt="" />
            </div>
            <h4>Upcoming project</h4>
            <p>This is a placeholder waiting for a new assignment.</p>
          </a>
        </div>
        <div class="grid-card fade-up-desktop animation">
          <a href="">
            <div class="card-image">
              <img src="../images/coming-soon.jpg" alt="" />
            </div>
            <h4>Upcoming project</h4>
            <p>This is a placeholder waiting for a new assignment.</p>
          </a>
        </div>
        <div class="grid-card fade-up-desktop animation">
          <a href="">
            <div class="card-image">
              <img src="../images/coming-soon.jpg" alt="" />
            </div>
            <h4>Upcoming project</h4>
            <p>This is a placeholder waiting for a new assignment.</p>
          </a>
        </div>
      </section>
    </main>
    <!-- Hidden navigation becoming visible when pressing the Menu button -->
    <nav id="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link about-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link projects-link" href="./project.html">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link modules-link" href="../.#user-centered-design"
            >Modules</a
          >
        </li>
      </ul>
      <section class="contact-info flex-center">
        <div class="contact-column-1">
          <ul class="contact-list">
            <li>
              <a class="contact-item" href="mailto:denislav@gmail.com"
                >Send me an email</a
              >
            </li>
            <li>
              <a class="contact-item" href="tel:1234567890">+12 345 678 901</a>
            </li>
            <li>
              <a
                class="contact-item social-link"
                href="https://www.instagram.com/dennislav_d/"
                target="_blank"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
        <div class="contact-column-2">
          <ul class="contact-list">
            <li><a class="contact-item" href="#">A Media Design Student</a></li>
            <li>
              <a
                class="contact-item social-link"
                href="https://www.linkedin.com/in/denislavd"
                target="_blank"
                >LinkedIn Profile</a
              >
            </li>
            <li>
              <a
                class="contact-item social-link"
                href="https://github.com/denislav-d"
                target="_blank"
                >GitHub Profile</a
              >
            </li>
          </ul>
        </div>
      </section>
      <!-- Hidden images appearing on nav-link hover -->
      <div id="hidden-pics" class="hidden-images">
        <img
          src="../images/image4.jpg"
          alt="hidden image"
          class="hidden-img-4 hidden-about-link"
        />
        <img
          src="../images/image3.jpg"
          alt="hidden image"
          class="hidden-img-3 hidden-about-link"
        />
        <img
          src="../images/image1.jpg"
          alt="hidden image"
          class="hidden-img-1 hidden-about-link"
        />
        <img
          src="../images/image2.jpg"
          alt="hidden image"
          class="hidden-img-2 hidden-about-link"
        />
        <img
          src="../images/image5.jpg"
          alt="hidden image"
          class="hidden-img-5 hidden-projects-link"
        />
        <img
          src="../images/image6.jpg"
          alt="hidden image"
          class="hidden-img-6 hidden-projects-link"
        />
        <img
          src="../images/image7.jpg"
          alt="hidden image"
          class="hidden-img-7 hidden-projects-link"
        />
        <img
          src="../images/image8.jpg"
          alt="hidden image"
          class="hidden-img-8 hidden-projects-link"
        />
        <img
          src="../images/image9.jpg"
          alt="hidden image"
          class="hidden-img-9 hidden-modules-link"
        />
        <img
          src="../images/image10.jpg"
          alt="hidden image"
          class="hidden-img-10 hidden-modules-link"
        />
        <img
          src="../images/image11.jpg"
          alt="hidden image"
          class="hidden-img-11 hidden-modules-link"
        />
        <img
          src="../images/image12.jpg"
          alt="hidden image"
          class="hidden-img-12 hidden-modules-link"
        />
      </div>
    </nav>
  </body>
</html>
