/* =============== Variables CSS =============== */
:root {
  /* ========== Colors ========== */
  /*Color mode HSL(hue, saturation, lightness)*/
  --text-color: hsl(0, 0%, 7%);
  --body-color: hsl(30, 33%, 96%);

  /* ========== Font and typography ========== */
  --body-font: "Red Hat Display", sans-serif;
  --title-font-size: 8vw;
  --text-font-size: 1.7vw;
  --medium-font-weight: 500;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  position: relative;
  color: var(--text-color);
  font-family: var(--body-font);
  background-color: var(--body-color);
  /* overflow: hidden; */
}

/* main {
  transition: transform 0.5s ease-in-out;
} */

nav {
  background-color: var(--body-color);
  color: var(--text-color);
  width: 100%;
  transition: bottom 0.5s ease-in-out;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

/* ========== Header ========== */
.header {
  position: fixed;
  z-index: 101;
  height: 5rem;
  line-height: 1em;
  width: 100vw;
  top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-title {
  z-index: 101;
  font-size: var(--text-font-size);
  font-weight: 600;
}

/* ========= Menu button ======== */
.button-section {
  display: flex;
  justify-content: center;
}

.menu-button {
  position: fixed;
  bottom: 0;
  font-size: 1.4vw;
  font-weight: var(--medium-font-weight);
  color: var(--text-color);
  cursor: pointer;
  z-index: 101;
  line-height: 7vh;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: none;
}

/* Navigation list */
.nav-list {
  margin-top: 6rem;
  font-size: 8vw;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

.nav-link:hover {
  transition: 0.7s;
}

/* Contact information */
.contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact-list {
  margin-top: 2rem;
  font-size: 1.4vw;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  width: 25vw;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}
