/* =============== Variables CSS =============== */
:root {
  /* ========== Colors ========== */
  /*Color mode HSL(hue, saturation, lightness)*/
  --text-color: hsl(0, 0%, 7%);
  --body-color: hsl(30, 33%, 96%);

  /* ========== Font and typography ========== */
  --body-font: "Red Hat Display", sans-serif;
  --title-font-size: 8vw;
  --text-font-size: 1.5vw;
  --medium-font-weight: 600;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--body-font);
}

body {
  color: var(--text-color);
  background-color: var(--body-color);
}

nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 200vh;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.8s;
}

nav.active {
  top: 0;
  transition: 0.6s;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

/* ========== Header ========== */
.header {
  position: relative;
  height: 5rem;
  line-height: 1em;
  width: 100%;
  top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-title {
  font-size: var(--text-font-size);
  font-weight: var(--medium-font-weight);
}

/* ========= Menu button ======== */
.button-section {
  display: flex;
  justify-content: center;
}

.menu-button {
  position: fixed;
  bottom: 0;
  font-size: var(--text-font-size);
  font-weight: var(--medium-font-weight);
  color: var(--text-color);
  cursor: pointer;
  z-index: 101;
  line-height: 7vh;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: none;
}

/* Navigation list */
.nav-list {
  margin-top: 6rem;
  font-size: 8vw;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

.nav-link:hover {
  transition: 0.7s;
}

/* Contact information */
.contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact-list {
  margin-top: 2rem;
  font-size: 1.4vw;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  width: 25vw;
}

.hidden {
  display: hidden;
  opacity: 0;
}

/* .hidden-images {
  transition: opacity 400ms, transform 400ms;
} */

.hidden-img-1 {
  z-index: 1;
  position: absolute;
  top: 13vh;
  left: 16vw;
  width: 16vw;
  height: 35vh;
  transition: 0.5s;
}

.hidden-img-2 {
  position: absolute;
  top: 13vh;
  right: 4vw;
  width: 25vw;
  height: 24vh;
  transition: 0.5s;
}

.hidden-img-3 {
  position: absolute;
  top: 56vh;
  right: 12vw;
  width: 12vw;
  height: 30vh;
  transition: 0.5s;
}

.hidden-img-4 {
  position: absolute;
  top: 42vh;
  left: 4vw;
  width: 16vw;
  height: 37vh;
  transition: 0.5s;
}
