/* =============== Variables CSS =============== */
:root {
  /* ========== Colors ========== */
  /*Color mode HSL(hue, saturation, lightness)*/
  --text-color: hsl(0, 0%, 7%);
  --body-color: hsl(34, 33%, 96%);

  /* ========== Font and typography ========== */
  --body-font: "Red Hat Display", sans-serif;
  --title-font-size: 8vw;
  --text-font-size: 1.5vw;
  --medium-font-weight: 600;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: var(--body-font);
}

body {
  color: var(--text-color);
  background-color: var(--body-color);
}

nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 200vh;
  background-color: var(--body-color);
  color: var(--text-color);
  transition: 0.8s;
}

nav.active {
  top: 0;
  transition: 0.6s;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.content-section {
  height: 100vh;
  font-size: var(--title-font-size);
  scroll-snap-align: start;
}

/* ========== Intro animation ========== */
.intro {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--body-color);
  transition: 1s;
}

.logo-header {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
}

.logo {
  font-size: 6rem;
  position: relative;
  bottom: -20px;
  opacity: 0;
}

.logo.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logo.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

/* ========== Header ========== */
.header {
  position: fixed;
  z-index: 2;
  height: 5rem;
  line-height: 1em;
  width: 100%;
  top: 2vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-title {
  font-size: var(--text-font-size);
  font-weight: var(--medium-font-weight);
}

/* ========= Menu button ======== */
.button-section {
  display: flex;
  justify-content: center;
}

.menu-button {
  position: fixed;
  bottom: 0;
  font-size: var(--text-font-size);
  font-weight: var(--medium-font-weight);
  color: var(--text-color);
  cursor: pointer;
  z-index: 2;
  line-height: 7vh;
  outline: 0;
  border: 0;
  cursor: pointer;
  background: none;
}

/* Navigation list */
.nav-list {
  margin-top: 6rem;
  font-size: 8vw;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
}

.nav-link:hover {
  transition: 0.7s;
}

/* Contact information */
.contact-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact-list {
  margin-top: 2rem;
  font-size: 1.4vw;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
  width: 25vw;
}

.social-link {
  cursor: alias;
}

/* Underline contact lists animation */
.contact-item {
  position: relative;
}

.contact-item::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--text-color);
  transition: width 0.4s ease-in-out;
}

.contact-item:hover:before {
  width: 100%;
}

/* Hidden images which appear on hovering the navigation menu options */
.hidden-about-link,
.hidden-projects-link,
.hidden-outcomes-link {
  visibility: hidden;
  opacity: 0;
}

/* Botttom left */
.hidden-img-1 {
  position: absolute;
  top: 42vh;
  left: 4vw;
  width: 16vw;
  height: 37vh;
  transition: 0.4s;
}

.hidden-img-5 {
  z-index: 1;
  position: absolute;
  top: 42vh;
  left: 12vw;
  width: 16vw;
  height: 37vh;
  transition: 0.4s;
}

.hidden-img-10 {
  position: absolute;
  top: 54vh;
  left: 4vw;
  width: 15vw;
  height: 34vh;
  transition: 0.4s;
}

/* Top right */
/* Image landscape mode */
.hidden-img-2 {
  position: absolute;
  top: 13vh;
  right: 4vw;
  width: 25vw;
  height: 24vh;
  transition: 0.4s;
}

.hidden-img-8 {
  position: absolute;
  top: 12vh;
  right: 15vw;
  width: 13vw;
  height: 29vh;
  transition: 0.4s;
}

/* Image landscape mode */
.hidden-img-12 {
  position: absolute;
  top: 19vh;
  right: 4vw;
  width: 25vw;
  height: 24vh;
  transition: 0.4s;
}

/* Bottom right */
.hidden-img-3 {
  position: absolute;
  top: 56vh;
  right: 12vw;
  width: 12vw;
  height: 30vh;
  transition: 0.4s;
}

.hidden-img-7 {
  position: absolute;
  top: 56vh;
  right: 6vw;
  width: 12vw;
  height: 30vh;
  transition: 0.4s;
}

.hidden-img-11 {
  position: absolute;
  top: 48vh;
  right: 14vw;
  width: 12vw;
  height: 28vh;
  transition: 0.4s;
}

/* Top left */
.hidden-img-4 {
  z-index: 1;
  position: absolute;
  top: 13vh;
  left: 16vw;
  width: 16vw;
  height: 35vh;
  transition: 0.4s;
}

.hidden-img-6 {
  position: absolute;
  top: 13vh;
  left: 5vw;
  width: 16vw;
  height: 35vh;
  transition: 0.4s;
}

.hidden-img-9 {
  z-index: 1;
  position: absolute;
  top: 8vh;
  left: 10vw;
  width: 16vw;
  height: 35vh;
  transition: 0.4s;
}
