<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css?family=Red Hat Display"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../styles/style.css" />
    <script defer src="../../scripts/main.js"></script>
    <title>Project</title>
  </head>
  <body>
    <!-- Main content -->
    <main class="main">
      <header id="header" class="header">
        <!-- Menu button -->
        <div class="menu-button flex-center" id="toggleNav">
          <span class="nav-button"></span>
        </div>
        <!-- Title / logo -->
        <a href="../../index.html" class="name-title">Denislav Dimitrov</a>
        <!-- <a href="#"
          ><img src="./images/logo.svg" alt="logo-header" class="logo"
        /></a> -->
      </header>

      <!-- Sections -->
      <section class="project-section">
        <div class="project-container fade-right-desktop animation">
          <h2>Final tasks</h2>
          <p>
            As the lead developer of the team, the last sprint of our group
            project was my time to shine. We meticulously assigned final tasks
            to each team member based on their strongest skills and abilities.
            My contribution focused on "bringing the prototypes and designs to
            life" by enhancing them with the necessary functionality and
            assisting with design decisions.
          </p>
          <p>
            To begin, I thoroughly examined all the pages assigned to me and
            proceeded to build the website's structure. Subsequently, I
            developed reusable components and elements that maintained
            consistency throughout the website, facilitating the work of other
            developers by providing a solid blueprint to build upon.
          </p>
          <p>You can read more about the final process below &darr;</p>
        </div>
        <div class="project-container fade-left-desktop animation">
          <img
            src="../../images/project-images/final-website-1.png"
            alt=""
            class="project-image-large"
          />
          <img
            src="../../images/project-images/final-website-2.png"
            alt=""
            class="project-image-large margin-top"
          />
        </div>
      </section>
      <section class="project-section">
        <div class="project-container fade-up-desktop animation">
          <img
            src="../../images/project-images/final-website-3.png"
            alt=""
            class="project-image-large"
          />
        </div>
        <div class="project-container fade-up-desktop animation">
          <h2>Final process</h2>
          <p>
            In terms of the design aspect, I reached a point where I couldn't
            tell the differnce between the Figma prototype and the actual
            website, indicating its completion. Moving forward, gathering user
            feedback became crucial in finding the right balance between
            functionality and avoiding cluttered animations. I had discussions
            with both my team and teachers, and upon receiving their approval, I
            proceeded to implement links, functional elements, and animations.
            Furthermore, to ensure that everything is ready, I conducted a final
            usability testing interview.
          </p>
          <p>
            Finally, I will briefly metion the final presentation. We
            encountered challenges related to the availability of group members,
            but we successfully managed to overcome them. Overall, I am very
            satisfied with the results, particularly considering the tremendous
            effort invested to accomplish everything. I am pleased to say that
            my communication skills have significantly improved throughout this
            semester, establishing a solid foundation for my future in the
            professional field.
          </p>
          <p></p>
        </div>
      </section>
    </main>
    <!-- Hidden navigation becoming visible when pressing the Menu button -->
    <nav id="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link about-link" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link projects-link" href="../project.html">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link modules-link" href="../../.#user-centered-design"
            >Modules</a
          >
        </li>
      </ul>
      <section class="contact-info flex-center">
        <div class="contact-column-1">
          <ul class="contact-list">
            <li>
              <a class="contact-item" href="mailto:denislav@gmail.com"
                >Send me an email</a
              >
            </li>
            <li>
              <a class="contact-item" href="tel:1234567890">+12 345 678 901</a>
            </li>
            <li>
              <a
                class="contact-item social-link"
                href="https://www.instagram.com/dennislav_d/"
                target="_blank"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
        <div class="contact-column-2">
          <ul class="contact-list">
            <li><a class="contact-item" href="#">A Media Design Student</a></li>
            <li>
              <a
                class="contact-item social-link"
                href="https://www.linkedin.com/in/denislavd"
                target="_blank"
                >LinkedIn Profile</a
              >
            </li>
            <li>
              <a
                class="contact-item social-link"
                href="https://github.com/denislav-d"
                target="_blank"
                >GitHub Profile</a
              >
            </li>
          </ul>
        </div>
      </section>
      <!-- Hidden images appearing on nav-link hover -->
      <div id="hidden-pics" class="hidden-images">
        <img
          src="../../images/image4.jpg"
          alt="hidden image"
          class="hidden-img-4 hidden-about-link"
        />
        <img
          src="../../images/image3.jpg"
          alt="hidden image"
          class="hidden-img-3 hidden-about-link"
        />
        <img
          src="../../images/image1.jpg"
          alt="hidden image"
          class="hidden-img-1 hidden-about-link"
        />
        <img
          src="../../images/image2.jpg"
          alt="hidden image"
          class="hidden-img-2 hidden-about-link"
        />
        <img
          src="../../images/image5.jpg"
          alt="hidden image"
          class="hidden-img-5 hidden-projects-link"
        />
        <img
          src="../../images/image6.jpg"
          alt="hidden image"
          class="hidden-img-6 hidden-projects-link"
        />
        <img
          src="../../images/image7.jpg"
          alt="hidden image"
          class="hidden-img-7 hidden-projects-link"
        />
        <img
          src="../../images/image8.jpg"
          alt="hidden image"
          class="hidden-img-8 hidden-projects-link"
        />
        <img
          src="../../images/image9.jpg"
          alt="hidden image"
          class="hidden-img-9 hidden-modules-link"
        />
        <img
          src="../../images/image10.jpg"
          alt="hidden image"
          class="hidden-img-10 hidden-modules-link"
        />
        <img
          src="../../images/image11.jpg"
          alt="hidden image"
          class="hidden-img-11 hidden-modules-link"
        />
        <img
          src="../../images/image12.jpg"
          alt="hidden image"
          class="hidden-img-12 hidden-modules-link"
        />
      </div>
    </nav>
  </body>
</html>
